<div class="btn-group" role="group">
  <button type="button" class="btn btn-danger" ng-click="resetMeals()">Reset All Meals</button>
</div>

<h2>Meal List</h2>
<h3>Tip Total: {{mealList.tipTotal | currency}}</h3>
<h3>Meal Count: {{mealList.count}} </h3>
<h3>Average Tip Per Meal: {{mealList.averageTipPerMeal | currency}}</h3>

<div ng-repeat="meal in mealList.list">
  <ul class="list-group">
    <li class="list-group-item">Meal {{meal.id}}</li>
    <li class="list-group-item">Meal price: {{meal.price | currency}}</li>
    <li class="list-group-item">Tax Percentage: {{meal.taxRate}}%</li>
    <li class="list-group-item">Tip Percentage: {{meal.tipRate}}%</li>
    <li class="list-group-item">Tax: Tax Rate {{meal.taxRate}}% * Meal Price {{meal.price | currency}} = {{meal.tax | currency}}</li>
    <li class="list-group-item">Subtotal: Tax {{meal.tax | currency}} + Meal Price {{meal.price | currency}} = {{meal.subTotal | currency}}</li>
    <li class="list-group-item">Tip: Tip Rate {{meal.tipRate}}% * Meal Price {{meal.price | currency}} = {{meal.tip | currency}}</li>
    <li class="list-group-item">Total: Meal SubTotal {{meal.subTotal | currency}} + Tip {{meal.tip | currency}} =  {{meal.total | currency}}</li>
  </ul>
</div>
